__pycache__
*.pyc
*.pyo
myenv
.env
.git
.gitignore
tests
TestCognito
testgit
testgit2
*.md
*.log
*.db
*.sqlite
*.sqlite3
2.0
3.0
3.0.36
8.0.3
exports
gunicorn_command
manage.py
create_tables.py
list_tables.py
confluence.py
confluence_find.py
New_feature.py
upload_csv
